<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LinguaCards">
        <activity
            android:name=".editProfile"
            android:exported="false" />
        <activity
            android:name=".infoBeforeStart"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".forgotPassword"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".MainScreen"
            android:exported="false" />
        <activity
            android:name=".editPack"
            android:exported="false" />
        <activity
            android:name=".chooseCardForAddInPack"
            android:exported="false" />
        <activity
            android:name=".choosingCardInPack"
            android:exported="false" />
        <activity
            android:name=".addpack"
            android:exported="false" />
        <activity
            android:name=".editcard"
            android:exported="false" />
        <activity
            android:name=".result"
            android:exported="false" />
        <activity
            android:name=".addCard"
            android:exported="false" />
        <activity
            android:name=".fleshcard_game"
            android:exported="false" />
        <activity
            android:name=".choose_pack"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LinguaCards">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>